*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh sans',sans-serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
/*nav section*/
.navbar {
    background: #131313;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    position: sticky;
    top: 0;
    z-index: 999;
    position: sticky;
}
.navbar__container {
    display:flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    padding:0 0;


}
.navbar__logo {
    background-image: url("images/logo.jpg");
    background-size: 100%; 
    background-position: 100%;
    background-repeat: no-repeat;   
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family:'Roboto', sans-serif; 
    padding-left: 80px;
  }


.navbar__menu{
    
    display: flex;
    align-items: center;
    list-style: none;
    
}
.navbar__item{
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 30px;
    margin:10px;
    
    
   
}

#button{
    background-color: #fff;
    margin-right: 20px;
    
}

#home{
    color: #000;
}
.navbar__links{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    text-decoration: none;
    height: 30px;
    transition:all 0.3 ease;
    
}



.navbar__menu.active{
    display: none;
}


.navbar__item:hover {
    
    background-color: #fff;
       
    transition:all 0.3 ease;
}
.navbar__links:hover {
    color:#000;
}

/*search bar*/


.search{
    position: relative;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden; 
    margin:10px 20px;   
}

.search.active{
    width: 390px;
}

.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid #000;    
    border-radius: 50%;  
    transform: translate(-2px,-2px); 
}
.search .icon::after{

    content: '';
    position: absolute;
    width: 3px;
    height: 7px;
    background: #000;
    transform: translate(5px,5px) rotate(315deg);

}

.search .input{
    position: relative;
    width: 300px;
    height: 30px;
    left: 40px;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: navajowhite;
    font-size: 16px;
    padding: 10px 0;

}

.clear {
    position: absolute;
    top: 25%;
    transform:translate(-50%);
    width: 15px;
    height: 15px;
    right: 15px;    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #888484;
    transform: rotate(45deg);
}
.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #888484;
    transform: rotate(315deg);
}

.down{
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    background: #fff;   
    transition: 0.5s;
    overflow: hidden; 
    

}

.down .input{
    position: relative;
    width: 300px;
    height: 30px;
    left: 40px;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.down .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: navajowhite;
    font-size: 16px;
    padding: 10px 0;

}

.clear--res {
    position: absolute;
    top: 25%;
    transform:translate(-50%);
    width: 15px;
    height: 15px;
    right: 15px;    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear--res::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #888484;
    transform: rotate(45deg);
}
.clear--res::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #888484;
    transform: rotate(315deg);
}




@media screen and (max-width: 600px) {
    .navbar{
        height: 40px;
    }
    .navbar__container{
        display: flex;
        justify-content: space-between;
       
        z-index: 1;
        width: 100%;
        max-width:1300px;
        padding:0 0;
        align-items: center;
    
    }
    .navbar__logo{
        height: 40px;
        width: 40px;
        margin: 0 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin:0;
        width:50%;
        margin-left: 50%;
        margin-top: -10px;       
        position:absolute;
        top:-1000px;
        opacity:1;
        transition: all 0.9 ease;
        z-index: -1;
        
    }
    .navbar__menu.active {
        display: grid;
        background:#131313;
        top: 50px;
        opacity:1;
        transition:all 0.3 ease;
        z-index: 99;
        height: 400px;
        font-size: 20px;
        
        
    }

    .navbar__toggle .bar {
        width: 18px;
        height:3px;
        margin: 5px auto;
        transition: all 0.3 ease;
        background:#fff;
        padding: 2px auto;
        }

    .navbar__item{
        display: flex;
        margin-left: 37px;
        text-align: center;
        width: 70%;
        padding: 0;
        
               
        
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        font-family: 'Radley',serif;
        font-weight: 100px;
    }
    .navbar__btn{
        padding-bottom:2rem;
    }
    .button{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height:40px;
       
    }

    #button{
        display: flex;
        margin-left: 37px;
        text-align: center;
        width: 70%;
    }
    #mobile-menu {
        position: absolute;
        
        right:5%;
        transform: translate(5%, 20%);

    }
    
    .navbar__toggle{
        margin-bottom: 12px;
    }
    .navbar__toggle .bar{
        display:block;
        cursor:pointer;
                
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(2px,8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(2px,-8px) rotate(-45deg);
    }

    .search__bar{
        margin-right: 50px;
        
    }
    
    .search.active{
        width: 270px;
    }

    .down{
        display: inline;
    }

    .down.is-active{
        
    }

    .down{
        position: absolute;
        height: 30px;
        width: 0;
        background-color: #fff;
        margin-left: 0;
        top: 40px;
        right: 0;
        transition: 0.5s;

    }

    .down.active{
        width: 480px;
        display: inline;
        
    }




    
    
}


/*main__section*/

.main__container{

      

}

.img__container{

    display: flex;
   
    

}
.main__img img{
    width: 1500px;
    height: 400px;
    margin: 0;
}


.img__container h5{
    position: absolute;
    color: #fff;
    padding: 210px ;
    padding-left: 500px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.about__content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    
    
}

.about__content h1{
    display: flex;
    font-size: 42px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    font-family: 'Radley', serif;
    color: #EB0E0E ;

}

.about__content p{

    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Radley', serif;
    

}

.logo__img{
    position: absolute;
    margin-left: 7%;
    margin-top:5%;
    
}

#main--img__1{
    height: 40px;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top:40px;

}

.img__2{   
    
    align-items: center;
    margin-bottom: 60px;
    margin-top: 30px;    

}

@media screen and (max-width: 960px){

    .main__img img{
        width: 500px;
        height: 100px;
    }

    .igsports--logo{
        width: 140px;
        height: 60px;
    }

    .img__container h5{
        margin: 60px 140px;
        padding: 0;
        font-size: 10px;
        
    }
     
    .main--about__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .main--about__container h1{
        font-size: 35px;
    }

    .main--about__container p{
        font-size: 12px;
        width: 700px;

    }

    .about__content h1{
        font-size: 30px;
    }

    #main--img__1 {
        height: 25px;
        margin-bottom: 20px;
        margin-top: 20px ;
    }

    .about__content p{
        font-size: 15px;
    }

    #img__2{
        height: 200px;
        margin-bottom: 20px;
    }



}

/*live section*/

.live__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.live--time{
    display: flex;
    flex-direction: row;   
    
}

.live__grid--1{
    padding: 80px;
}


.live__container img{
    height: 200px;
}

.live__container h2{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Radley',serif;
    text-align: center;
    margin-top: 15px;
}
.live__container h3{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 10px;
   
}

.live__grid--1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.live__grid--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#live--png{
    width: 80px;
    height: 30px;
    
    margin-bottom: 30px;
}

@media screen and (max-width: 960px){

    .live__container{
        
    }

    .live--time{
        display: flex;
        flex-direction: column;
    }

    .live__container img{
        height: 150px;
    }

    .live__grid--1{
        padding: 0;
    }

    .live__container h2{
        font-size: 18px;
    }
    
    .live__container h3{
        font-size: 18px ;
    }
}


/*footer*/

.footer__container{
    background-color: #C4C4C4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 40px;

}

/*right__grid*/

.right__grid{
    
    
    
    
}

.right__line{
    
    height: 2px;
    width: 450px;
    border-radius: 1px;
    background-color: black;
    margin-top: 10px;
    margin-right: 30px;
}

.footer__text{
    display: flex;
    align-items: center;
    margin-top: 130px;
    justify-content: center;

}

.footer__text h2{
    font-family: 'Radley', serif;
    font-size: 2opx;
}

.footer__text p{
    color: #888484 ;
    padding-left: 7px;
}

.footer__text h3{
    font-size: 17px;

}

/*center__container*/

.center__container{

    
}

.center h1{
    font-family:'Radley', serif;
    text-align: center;
    font-size: 20px;
}

.social__items {
   
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
   
}

/*left__grid*/

.left__grid{

}

.left__line{
    height: 2px;
    width: 450px;
    border-radius: 1px;
    background-color: black;
    margin-top: 10px;
    margin-left: 40px;
}

.about__container{

    text-align: center;
    align-items: center;
}

.about__container h3{

    font-size: 15px;
    font-family: 'Radley',serif;
    padding-top: 30px;
    padding-bottom: 10px;
}

.about__container p{

    font-size: 13px;
    font-family: 'Radley',serif;
}

.footer__container--res{
    display: none;
}

@media screen and (max-width: 960px){
    .footer__container{

        display: none;
       
    }

    .footer__container--res{}

    .footer__container--res{
        background-color: #C4C4C4;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        
        padding-top: 30px;
    }
    .left__line{
        width: 100px;
    }

    .center h1{
        font-size: 13px;
        margin-top: 8px;
        padding: 0 10px;
    }

    .right__line{
        width: 100px;
        
    }

    .middle__section{
        

    }

    .social__items{
        width: 300px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .social__items a img{
        height: 20px;
        width: 20px;
    }

    .about__container{
        
    }

    .footer__text{
        padding: 0;
        margin:0;
        margin-top: 10px;
        margin-left: 250px;      
        
    }

    .footer__text h2{
        font-size: 10px;
    }
    .footer__text p{
        font-size: 10px;
    }
    .footer__text h3{
        font-size: 12px;
    }

    
    
}
